
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


* {
    font-family: monospace;
    box-sizing: border-box;
}


main {
    padding: 1vw !important;
}

#user-input-textarea {
    resize: none;
    height: 90%;
    font-family:'Source Code Pro', monospace;
    line-height: 28px;
}



#rules-type-span button {
    border: none;
    outline: none;
    box-shadow: 5px 5px 0 0 var(--secondary);
    transition: .5s;
}

#rules-type-span button:hover {
    transform: translate(5px, 5px);
    box-shadow: none;
    color: black;
    font-weight: bold;
}

input:disabled {
    user-select: none;
}

.main-article {
    margin: 0;
    height: 90vh;
    padding: 1vw;
}


.main-article button {
    height: fit-content;
    width: fit-content;
    padding: .6vw;
}

#rules-type-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 9999;
}


.rules-span-container {
    display: flex;
    width: 100%;
    gap: 1vw;
}

.rules-span-container * {
    flex-grow: 9999;
}
.h1-header {
    background: linear-gradient(to right, rgb(242, 41, 41), rgb(249, 66, 66), rgb(50, 50, 240), rgb(255, 0, 255));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 1vw;
}


@media screen and (max-width: 400px) {
    .main-article {
        height: 40vh;
    }
}